
.background {
  fill: none;
  pointer-events: all;
}

.axis path,
.axis line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.states {
  fill: steelblue;
}

.states .active {
  fill: orange;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #000;
}

.center-txtvalue {
  font: 30px sans-serif;
  text-anchor: middle;
  color: brown;
}

.legend {
font-size: 20px;
}

.center-txtvalue {
  font: 30px sans-serif;
  text-anchor: middle;
  color: brown;
}

.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}


#bar-chart {
  position: absolute;
  left: 100px;
  top:50px;
}

#pie-chart {
  position: absolute;
  left: 700px;
  top:1000px;
}

#line-chart {
  position: absolute;
  left: 900px;
  top:750px;
}



#canvas-svg {
 position: absolute;
  left: 50px;
  top:650px;
}

#state-select {
  position: absolute;
  font: 15px sans-serif;
  top: 200px;
  left: 50px;
  width: 150px;
  height: 30px;
}

#t1 {
  position: absolute;
  font: 15px Helvetica;
  background: white;
  left: 850px;
  top:200px;
  width: 550px;
  height: 50px;
  font-weight: normal;
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  border-left: 1px solid #C1C3D1;
  border-right:1px solid #C1C3D1;
}


#t2 {
  position: absolute;
  font: 15px Helvetica;
  background: white;
  left: 800px;
  top:700px;
  width: 550px;
  height: 50px;
  font-weight: normal;
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  border-left: 1px solid #C1C3D1;
  border-right:1px solid #C1C3D1;
}

td {
  padding:10px;
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  border-left: 1px solid #C1C3D1;
  border-right:1px solid #C1C3D1;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
  
tr:nth-child(odd) td {
  background:#EBEBEB;
  font-weight: bold;
}

tr:nth-child(even):hover td {
  background:steelblue;
}

span.no-data {
  font-size: 30px;
}

