<!DOCTYPE html>
<html>
<head>
<title>H-1B Visualization</title>
<link rel="stylesheet" href="./static/css/custom.css">
</head>

<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src= "http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>

<!-- Visualization charts -->
<div id="bar-chart"></div>
<div id="canvas-svg"></div>
<div id="pie-chart"></div>
<div id="wordcloud1"></div>
<div id="wordcloud1title"></div>
<div id="wordcloud2"></div>
<div id="wordcloud2title"></div>
<div id="wordcloud3"></div>
<div id="wordcloud3title"></div>
<div id="line-chart"></div>


<!-- Table With Overlapping barchart -->
<table id = "t1">
		<col width = "400px">
		<col width = "150px">
 		<tr>
  			<td> Job Title with Maximum Salary
  			</td>
  			<td> Maximum Salary </td>
  		</tr>
	<tr>
		<td id = "jobtitlewithmaxsalary-value">
			No Data
		</td>
		<td class = "text-center" id = "max_salary-value"> $ 0
		</td>
	</tr>
 		<tr>
  			<td> Job Title with Minimum Salary
  			</td>
  			<td> Minimum Salary </td>
  		</tr>
	<tr>
		<td id = "jobtitlewithminsalary-value">
			No Data
		</td>
		<td class = "text-center" id = "min_salary-value"> $ 0
		</td>
	</tr>
</table>

<!-- Table with US map -->
<table id = "t2">
		<col width = "400px">
		<col width = "150px">
 		<tr>
  			<td> Maximum Certified Job Title
  			</td>
  			<td> Total Certified </td>
  		</tr>
	<tr>
		<td id = "maxcertifiedjobtitle-value">
			No Data
		</td>
		<td class = "text-center" id = "jtmaxno-value"> 0
		</td>
	</tr>
 		<tr>
  			<td> Maximum Certified Employer Name
  			</td>
  			<td> Total Certified </td>
  		</tr>
	<tr>
		<td id = "maxcertifiedemployername-value">
			No Data
		</td>
		<td class = "text-center" id = "enmaxno-value"> 0
		</td>
	</tr>
</table>

<script src='./static/js/graphs.js' type='text/javascript'></script>
<script src='./static/js/d3.layout.cloud.js'></script>
</body>
</html>